*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* RESPONSIVE PARA MOVILES Y TABLETS - MENU ESCONDIDO EN ICONO */

@media screen and (max-width: 991px){

	.m-abrir{
		position: fixed;
		top: 0px;
		right: 0px;
		margin: 1%;
		display: block;
		cursor: pointer;
	}

	.m-cerrar{
		position: fixed;
		top: 0px;
		right: 0px;
		margin: 1%;
		display: none;
		cursor: pointer;
	}
	
	nav{
		width: 40%;
		height: auto;
		position: fixed;
		top: 50px;
		right: 0px;
		display: none;
		background: rgba(256, 256, 256, 1);

	}

	nav ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
		font-size: 0px;
		text-align: left;
	}

	nav ul li a{
		display: block;
		font-size: 15px;
		padding: 5px 10px;
		text-decoration: none;
		color: rgb(97, 97, 97);
	}

}



/* RESPONSIVE PARA ORDENADORES */

@media screen and (min-width: 992px){

	nav{
		width: 75%;
		height: auto;
	}

	nav ul{
		padding: 0px;
		margin: 0px;
		list-style: none;
		font-size: 0px;
		text-align: right;
	}

	nav ul li{
		display: inline-block;
		vertical-align: top;
	}

	nav ul li a{
		display: block;
		font-size: 20px;
		padding: 15px 20px;
		text-decoration: none;
		color: rgb(97, 97, 97);
	}


	li a:hover{
		color: salmon;
	}

}

